@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Pathway+Gothic+One');

body {
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: gray;
}

h1 {
  font-family: 'Cardo', serif;
  font-weight: bold;
}

h3 {
  font-family: 'Cardo', serif;
  font-weight: bold;
}


li {
  list-style: none;
}

button {
  background-color: lightgray;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 5px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.header-btn {
  margin-top: 15%;
  height: 40px;
}

/*App page*/

.header {
  position: relative;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  box-shadow: 0px 2px 5px 0px #519D9E;
  padding: 15px;
  margin: 50px 25px 25px 25px;
}

.sundial {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.cities {
  display: flex;
  margin: 30px 10px;
  justify-content: space-around;
}

.city-card {
  font-size: 27px;
  box-shadow: 0px 2px 5px 0px #519D9E;
  background-color: lightblue;
  display: flex;
  width: 31%;
  height: auto;
  margin: 10px;
}

.add-city-link{
  padding: 20px;
}

/*forecast page*/
.forecast-header{
  display: flex;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}
.the-forecast{
  display: flex;
  justify-content: space-around;
}
.forecast-card{
  font-size: 20px;
  padding: 7px;
  height: auto;
  display: flex;
  box-shadow: 0px 2px 5px 0px #519D9E;
  background-color: lightblue;
  margin: 5px;
  flex-direction: column;
}

.forecast-card img{
  height: auto;
  width: 50px;
}
/*settings page*/
.city-settings{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.new-city {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.new-city input {
  width: 150px;
  margin-left: 30px;
}

.edit-city{
  display: inline;
  width: 27%;
  box-shadow: 0px 2px 5px 0px #519D9E;
  background-color: lightblue;
  margin: 10px 10px 10px 50px;
}

.edit-city ul{
  padding-left: 0px;
}

.home-button {
  margin-left: 50px;
}

.your-forecast {
  background-color: lightblue;
  box-shadow: 0px 2px 5px 0px #519D9E;
  padding: 5px;
}
